// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #e56262;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	width: 100px;
	height: 100px;
}
.big{
	position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%,-50%);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	background: white;
	animation: 2s enlarge-1 infinite alternate;
	animation-timing-function: cubic-bezier(.21,.98,.6,.99);
	animation-fill-mode: both;
}
.medium{
	position: absolute;
  top: 22.5%;
  left: 22.5%;
  transform: translate(-50%,-50%);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	animation: 2s enlarge-2 infinite alternate;
	animation-timing-function: cubic-bezier(.21,.98,.6,.99);
	animation-fill-mode: both;
}

.small{
	position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-50%,-50%);
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	animation: 2s enlarge-3 infinite alternate;
	animation-timing-function: cubic-bezier(.21,.98,.6,.99);
	animation-fill-mode: both;
}

@keyframes enlarge-1{
	0%, 10%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}

@keyframes enlarge-2{
	0%, 40%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}

@keyframes enlarge-3{
	0%, 70%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}
