// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #272c34;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	background: #272c34;
	width: 180px;
	height: 180px;
	margin: 0;
}
.circle {
	position: absolute;
	background: white;
	width: 180px;
	height: 180px;
	margin:0;
	overflow: hidden;
}
.sky{
	position: absolute;
	background: #7ddffc;
	width: 180px;
	height: 124px;
	animation: 5s darken-sky;
	animation-timing-function: cubic-bezier(.4,0,.49,1);
	animation-iteration-count: infinite;
}

.ground{
	position: absolute;
	bottom: 0;
	background: #f0de75;
	width: 180px;
	height: 56px;
	animation: 5s sand-darken;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.4,0,.49,1);
}
.left-side{
	position: absolute;
	bottom: 56px;
	left: 32px;
	width: 116px;
	height: 57px;
	clip-path: polygon(50% 0, 0% 100%, 100% 100%);
	animation: 5s pyramid-shade;
	animation-timing-function: cubic-bezier(.4,0,.49,1);
	animation-iteration-count: infinite;
	background: #D3D3D3;
}

.right-side{
	position: absolute;
	bottom: 56px;
	left: 90px;
	width: 58px;
	height: 57px;
	background-color: grey;
	animation: 5s pyramid-shade reverse;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.4,0,.49,1);
	clip-path: polygon(0 0, 28% 100%, 100% 100%);
}

.sun{
	position: absolute;
	width: 35px;
	height: 35px;
	left: 73px;
	top: 7px;
	background-color: #FFEF00;
	border-radius: 50%;
	animation: 5s sun-anim;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.4,0,.49,1);
	transform-origin: 70% 400%;
}

.shadow{
	position: absolute;
	width: 360px;
	height: 30px;
	top: 124px;
	animation: 5s shadow-path;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.4,0,.49,1);
	clip-path: polygon(115px 0%, 231px 0%, 80% 100%);
	transform-origin: 50% 0%;
	background: #272c34;
}


@keyframes sun-anim{
	0%{
		transform: rotate(-70deg);
	}
	30%{
		transform: rotate(-28deg);
	}
	70%{
		background: yellow;
	}
	100%{
		transform: rotate(70deg);
	}
}

@keyframes pyramid-shade {
	0%{
		background-color: #272c34;
	}
	30%{
		background-color: #F9F9F9;
	}
	70%{
		background-color:#D3D3D3;
	}
	100%{
		background-color: #272c34;
	}
}

@keyframes shadow-path {
	0%{
		transform: scaleY(0);
		clip-path: polygon(9% 0, 80% 9%, 41% 0);
	}
	30%{
		clip-path: polygon(9% 0, 65% 70%, 41% 0);
	}
	70%{
		clip-path: polygon(9% 0, 4% 55%, 41% 0);
	}
	100%{
		transform: scaleY(1);
		clip-path: polygon(9% 0, 0 3%, 41% 0);
	}
}

@keyframes darken-sky{
	0%{
		background: #272c34;
	}
	30%{
		background: #7ddffc;
	}
	70%{
		background: #7d8a96;
	}
	100%{
		background: #272c34;
	}
}

@keyframes sand-darken {
  0% {
    background: #272C34;
  }
	
	30% {
		background: #F0DE75;
	}
	
	70% {
		background: #F0DE75;
	}

  100% {
    background: #272C34;
  }
}
