// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
*{
	box-sizing: border-box;
}
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	width: 300px;
	height: 220px;
	border-radius: 5px;
	// overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: flex;
	flex-direction: column;
}

.header{
	width: 300px;
	height: 60px;
	background: orange;
	padding-left: 10px;
	padding-bottom: 15px;
	padding-right: 0;
	
	column-gap: 50px;
	
	.small{
		font-size: 11px;
		position: absolute;
		color: #fff;
		font-weight: bold;
	}
	.big{
		font-size: 14px;
		position: absolute;
		color: #fff;
		font-weight: bold;
	}
}

.title{
	top: 12px;
	left: 15px;
}
.date{
	top: 30px;
	left: 15px;		
}
.rev{
	top: 14px;
	right: 15px;
}
.mon{
	top: 28px;
	right: 15px;
}

.label{
	padding: 10px 10px;
	font-size: 10px;
	text-align: right;
}

.stats{
	position: relative;
	height: 81px;
	width: 260px;
	margin: 0 auto;

	
	
	.l-1{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		height: 1px;
		background: #ececec;
	}
	.l-2{
		@extend .l-1;
		top: 40px;
	}
	.l-3{
		@extend .l-1;
		top: inherit;
		bottom: 0px;
	}
	
	
}
.red-line{
		
}
